name: code_input
description: Flutter Code Input Widget
version: 1.0.1
authors:
- Marcel Garus <marcel.garus@gmail.com>
- Raouf Rahiche <rraouf30@gmail.com>
homepage: https://github.com/Rahiche/flutter_code_input

environment:
  sdk: ">=2.0.0-dev.58.0 <3.0.0"
  
dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
